<div class="row" style="border:1px solid #c5c5c5;margin-top: 10px;">
    <div class=" col-lg-12 order" style="background-color: #f9f9f9;align-items: center;">
        <p>Order Request</p>
    </div>
    <div class="order" style="background-color: #fff;align-items: center;display: flex;flex-direction: row;width: 100%;">
        <div class="none">
            <p>N/A</p>
        </div>
        <div class="btn" style="display:flex;justify-content: flex-end;width: 100%;">
            <ul style="list-style-type: none;">
                <li style="background-color: #0988cd;color:#fff;padding:3px 25px;font-weight: 600">Generate OR</li>
                <li style="background-color: #f9f9f9;color:#469ad0;padding:3px 25px;font-weight: 600;margin-top: 5px;"> UPLOAD OR</li>
            </ul>
        </div>
    </div>
</div>