<div class="row nav-tabs" style="justify-content: space-between;align-items: center;">
  <div class="tabs">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
          aria-controls="pills-home" aria-selected="true">Order Details</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
          aria-controls="pills-profile" aria-selected="false">Delievery and payments terms</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
          aria-controls="pills-contact" aria-selected="false">Terms and Conditions</a>
      </li>
    </ul>
  </div>
  <div class="order-id">
    <p style="font-weight: 600;">Order Id: #{{ order.id }}</p>
  </div>
</div>
<div class="row product-details" style="border:1px solid #c5c5c5;margin: 0">
  <div class="col-lg-2" style="padding: 0">
    <div class="images" style="width: 100%;height: 100%;">
      <img src="assets/img/concrete_paver_sand_2_.jpeg" style="width: 100%;height: 100%;">
    </div>
  </div>
  <div class="col-lg-10">
    <div class="product-details-2">
      <p style="font-size: 18px;font-weight:600;margin-top: 10px;align-items: center;">{{ order.productName }} <span
          style="background-color: #f9f9f9;padding: 5px;font-size: 14px;margin-left: 15px;margin-bottom:5px;font-weight: 600;">IS:383:2016</span>
      </p>
      <p style="font-size: 14px;margin-top: -15px;color: #c5c5c5">Concrete Sand is coarse in nature and primarily used
        in the manufacture of ready mix concrete and asphalt. The Fineness Modulus of this sand is between 2.3 to 3.2.
        It is graded and washed adequately to remove unwanted silt for optimum mix-design.</p>
    </div>
    <div class="delievery">
      <ul style="text-decoration: none;padding:0;margin: 0;list-style-type: none;color:#1fbbe8;font-weight: 400;">
        <li style="float: left;">Delivery within: 30 days</li>
        <li style="float: left;padding-left: 20px;">Payment Terms: 90 days</li>
      </ul>
    </div>
    <div style="clear: both"></div>
    <div class="row"
      style="box-sizing: border-box;background-color: #f5fafe;font-size: 14px;text-align: center;margin-top: 9px">
      <div class="col-lg-3" style="border-right: 1px solid #c5c5c5;padding: 10px">
        <p style="margin:0;padding: 0">Grade: <span style="font-weight: 600">{{ order.grade }}</span></p>
      </div>
      <div class="col-lg-3" style="border-right: 1px solid #c5c5c5;padding: 10px">
        <p style="margin:0;padding: 0">Slit % :<span style="font-weight: 600">{{ order.slit }} %</span></p>
      </div>
      <div class="col-lg-3" style="border-right: 1px solid #c5c5c5;padding: 10px">
        <p style="margin:0;padding: 0">Source: <span style="font-weight: 600">{{ order.source }}</span></p>
      </div>
      <div class="col-lg-3" style="padding: 10px;">
        <p style="margin:0;padding: 0">Lot Size: <span style="font-weight: 600">{{ order.lot }}</span></p>
      </div>
    </div>
  </div>
</div>
