<div class="row" style="border:1px solid #c5c5c5;margin-top: 10px;padding: 10px;">
    <div class="docs">
        <ul style="text-decoration: none;padding:0;margin: 0;list-style-type: none;font-weight: 400;align-items: center;">
            <li style="float: left;">
                <img src="assets/img/file.png" style="height: 20px;width:20px;margin-right: 10px;">
                <!-- <i class="far fa-file" style="color: #d0e6fb"> -->
                <!-- <i class="far fa-file-alt"> -->
                <a href="" style="text-decoration: underline;color: black;font-size: 16px">Sieve analysis report.pdf</a>
            </li>
            <li style="float: left;padding-left: 20px;">
                <img src="assets/img/file.png" style="height: 20px;width:20px;margin-right: 10px;">
                <a href="" style="text-decoration: underline;color: black;font-size: 16px">Concrete test report.pdf</a>
            </li>
        </ul>
    </div>
</div>