<div class="row" style="border:1px solid #c5c5c5;margin-top: 10px;">
  <div class=" col-lg-12 order" style="background-color: #f9f9f9;align-items: center;">
    <p>Order Status</p>
  </div>
  <div class=" col-lg-12 order" style="background-color: #fff;align-items: center;">
    <div class="progress-track">
      <ul id="progressbar">
        <li [ngClass]="{'step0':true,'active':true}" id="step1">Ordered</li>
        <li [ngClass]="{'step0':true,'active':order.status >= 2?true : false,'text-center':true}" id="step2">Shipped
        </li>
        <li [ngClass]="{'step0':true,'active':order.status >= 3?true : false,'text-right':true}" id="step3">On the way
        </li>
        <li [ngClass]="{'step0':true,'active':order.status >= 4?true : false,'text-right':true}" id="step4">Delivered
        </li>
      </ul>
    </div>
  </div>
</div>
