<section id="main">
  <div class="container">
    <app-breadcrumb></app-breadcrumb>
    <app-header></app-header>
    <app-product-details [order]=order [oid]=oid></app-product-details>
    <app-document-downloads></app-document-downloads>
    <app-order-status [order]=order [oid]=oid></app-order-status>
    <app-order-request></app-order-request>
  </div>
</section>
